<a href="https://colab.research.google.com/github/lebedevAU/N1/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22%D0%94%D0%97_Pro_%D0%9F%D0%B0%D1%80%D1%81%D0%B8%D0%BD%D0%B3_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Разбор домашнего задания Парсинг данных
# Pro

Возьмите базу квартир (moscow.csv), проведите парсинг и очистку данных:

● Уберите строки “Для заметок”

● Уберите столбцы “ГРМ” и “Примечания”

● Для столбца “Балкон” добавьте категорию “Отсутствует” (вместо NaN)

● Значения столбца “Бонус агенту” переведите в тысячи рублей,а пустые значения
заполните нулями

● В столбец “Площадь” запишите общую площадь всех помещений

● Для столбца “Санузел” заполните отсутствующие значения строкой “Нет данных”

● Столбец “Цена” переведите в тысячи рублей

In [ ]:
# Статический вывод графики (графики отображаются в той ячейке, в которой используется plt.show())
import pandas as pd # Импортируем библиотеку обработки и анализа данных pandas
import matplotlib.pyplot as plt # Импортируем модуль pyplot библиотеки matplotlib для построения графиков
import datetime                 # Импортируем модуль datetime для обработки данных в формете даты
import numpy as np              # Импортируем библиотеку numpy
from google.colab import files  # Импортируем библиотеку files для работы с файлами
import re                       # Регулярные выражения

# Рисовать графики сразу же
%matplotlib inline

In [ ]:
# Для загрузки данных используем drive
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.activity.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fexperimentsandconfigs%20https%3a%2f%2fwww.googleapis.com%2fauth%2fphotos.native&response_type=code

Enter your authorization code:
4/1AX4XfWilAJk-mwc-uIM9clzApX2S1IFA1vjBiCJmnfirO9NLFuy8AHc03uQ
Mounted at /content/drive

In [ ]:
dbase = pd.read_csv("/content/drive/My Drive/moscow.csv", sep=";") 
dbase.info
dbase.head(5)

         Комнат  ...                                         Примечание
0             1  ...  Собственность оформлена! Ключи на руках! Опера...
1  Для заметок:  ...                                                NaN
2             1  ...  Зеленоград к.1820 однокомнатная квартира общ.3...
3  Для заметок:  ...                                                NaN
4             1  ...  Уютная, светлая квартира, застекленный балкон ...

[5 rows x 14 columns]

In [ ]:
dbase= dbase[dbase['Комнат'] != 'Для заметок:']

** Уберите строки “Для заметок”

● Уберите столбцы “ГРМ” и “Примечания”

● Для столбца “Балкон” добавьте категорию “Отсутствует” (вместо NaN)

● Для столбца “Санузел” заполните отс

In [ ]:
dbase.drop(['ГРМ'], axis = 1, inplace = True)
dbase.drop(['Примечание'], axis = 1, inplace = True)
dbase['Балкон'].fillna('Отсутствует',inplace=True)
dbase['Санузел'].fillna('Нет данных',inplace=True)

dbase.head(5)

# “ГРМ” и “Примечания”

         Комнат  Метро / ЖД станции  ... Кол-во дней в экспозиции         Источник
0             1         Шелепиха м.  ...                      1.0  Привлекательные
1  Для заметок:                 NaN  ...                      NaN              NaN
2             1  Пятницкое шоссе м.  ...                      2.0  Привлекательные
3  Для заметок:                 NaN  ...                      NaN              NaN
4             1        Планерная м.  ...                      4.0  Привлекательные

[5 rows x 12 columns]

In [ ]:
dbase.shape

(252536, 11)

In [ ]:
dbase["Бонус агенту"].unique

<bound method Series.unique of Комнат
1               NaN
Для заметок:    NaN
1               NaN
Для заметок:    NaN
1               NaN
               ...
Для заметок:    NaN
Ст              NaN
Для заметок:    NaN
Ст              NaN
Для заметок:    NaN
Name: Бонус агенту, Length: 252536, dtype: object>

In [ ]:
dbase['Бонус агенту'].fillna('0',inplace=True)
dbase['Площадь'].fillna('0',inplace=True)

In [ ]:
dbase.head(5)

  Комнат  Метро / ЖД станции  ... Кол-во дней в экспозиции         Источник
0      1         Шелепиха м.  ...                      1.0  Привлекательные
2      1  Пятницкое шоссе м.  ...                      2.0  Привлекательные
4      1        Планерная м.  ...                      4.0  Привлекательные
6      1      Шаболовская м.  ...                      7.0  Привлекательные
8      1     Бабушкинская м.  ...                     11.0  Привлекательные

[5 rows x 12 columns]

In [ ]:

dbase.loc[0,'Площадь'] = 7

#dbase['Площадь'][0] = "5"
dbase['Площадь'][0]

7

In [ ]:
#for i in range(10): #len(dbase)
for i in range(5):
  
    print(number)
# dbase['Площадь'][i]
  #print(Splitter(dbase['Площадь'][i]))
    
#

4
4
4
4
4

● Значения столбца “Бонус агенту” переведите в тысячи рублей,а пустые значения заполните нулями

● В столбец “Площадь” запишите общую площадь всех помещений

● Столбец “Цена” переведите в тысячи рублей

In [ ]:
SList = "38.4/17/9"
for i in range(len(dbase)):
    str =  dbase['Площадь'][i]
    SList = str.split("/", 5)
    print(SList[0])
    dbase.loc[i, ("Площадь")] = SList[0]

In [ ]:
 print(dbase['Площадь'][i])
 dbase.head(7)

17.5

  Комнат      Метро / ЖД станции  ... Кол-во дней в экспозиции         Источник
0      1             Шелепиха м.  ...                      1.0  Привлекательные
1      1      Пятницкое шоссе м.  ...                      2.0  Привлекательные
2      1            Планерная м.  ...                      4.0  Привлекательные
3      1          Шаболовская м.  ...                      7.0  Привлекательные
4      1         Бабушкинская м.  ...                     11.0  Привлекательные
5      1             Шелепиха м.  ...                     11.0  Привлекательные
6      1  Улица Дмитриевского м.  ...                     14.0  Привлекательные

[7 rows x 12 columns]